.details{
    width: 150;
    height: 1000;
    border:10px dotted red;
    margin-top: 50px;
    margin-left: 50px;
    text-align:10px ;
}

.ad{
    width: 290px;
    height: 140px;
}

#p1{
    margin-left: 80px;
}

#p2{
    padding-top: 10px;
    margin-left: 80px;
}


.d{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blueviolet: 0cqmax;
}