header{
    height:100px;
    padding-top: 10px;
    border:5px;
    border-color: black;
    background-color: blueviolet;
    font-size: 40px;
    text-align: center;
}



section{
    width: 400px;
    height: 400px;
    border: 3px;
    float: left;
    margin-top: 40px;
    border-color: brown;
    text-align: justify;
    font-style: normal;
    font-size: medium;
    letter-spacing: 4px;
}


.bigbox{
    width: 500px;
    height: 800px;
    border: 5px ;
    border-color: cadetblue;
    float: right;
    margin-top: 30px;
    border-radius: 620px 0px 300px 0px;

}

.imgs{
    width: 600px;
    height: 300px;
    border: 5px dashed ;
    border-color: cadetblue;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}



#topbox{
    margin-top: 10px;
    float: right;

}


#bottombox{
    margin-top: 10px;
    float: right;
}